{% extends "home/index.html" %} {% block title%} About Page {% endblock %} {% block content %}

<body class="about">
    <title>About</title>
    <div class="about__bio__image">
        <div class="about__bio">
            <h2 class="secondary">BIO</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ut inventore aliquam quibusdam eius nesciunt. Minus exercitationem, mollitia rem cumque, eum eius deleniti omnis nesciunt vitae laudantium officia. Vero reiciendis ipsam odit id debitis, magni
                perspiciatis vitae error quam dicta possimus tempora porro. Vero provident nemo non est fugiat dolorem magni! Soluta ex temporibus mollitia, aperiam laudantium dolorem est nemo!
            </p>
        </div>
    </div>
    <div class="about__jobs">
        <div class="__jobs__job">
            <h2>2016 - Current</h2>
            <h3>Arizona State University</h3>
            <h6>Electrical Eningeering Major</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit placeat consectetur qui? Accusantium blanditiis dignissimos voluptatibus, facere, ab, deserunt repellendus ipsam numquam aliquid ut quis non maxime eaque ullam odit voluptatem!
                Natus eligendi odio maxime. Adipisci asperiores placeat explicabo iure nesciunt, distinctio tempora consectetur sapiente!
            </p>
        </div>
        <div class="__jobs__job">
            <h2>2008 - 2016</h2>
            <h3>United States Marine Corps</h3>
            <h6>Infantry Mchine Gunner</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit placeat consectetur qui? Accusantium blanditiis dignissimos voluptatibus, facere, ab, deserunt repellendus ipsam numquam aliquid ut quis non maxime eaque ullam odit voluptatem!
                Natus eligendi odio maxime. Adipisci asperiores placeat explicabo iure nesciunt, distinctio tempora consectetur sapiente!
            </p>
        </div>
    </div>
</body>
{% endblock %}