{% extends "home/index.html" %} {% block title%} About Page {% endblock %} {% block content %}

<section class="about">
    <div class="about__bio__image">
        <div class="about__bio">
            <h2 class="secondary">BIO</h2>
            <p>
                As a hobby I enjoy coding, building pc's, welding, and routine maintenance on hardware, software, and automobiles. Under coding I am knowledgable in Python, Java, and C/C++. I have employed databases and have written several machine learning scripts.
                My personal computer has <a href="/static/img/7_monitor_setup.jpg" target="_blank">seven monitors</a> which has increased my personal productivity several fold. I enjoy welding for the same reason I enjoy programming. Taking
                a set of tools and creating something, modifying, and/or repairing calls forward a sense of accomplishment worth seeking. My name is Christerpher Hunter and I am an Arizona State University graduate of the Ira. A. Fulton School of Engineering
                with a Bachelors Degree of Electrical Engineering.
            </p>
        </div>
    </div>
    <section class="experience">
        <div class="experience__jobs">
            <div class="experience__jobs__job">
                <h2>2016 - Current</h2>
                <h3>Arizona State University</h3>
                <h6> <i>Electrical Eningeering Major</i></h6>
                <p>
                    I have been studying during every fall, spring, and summer semester for the four and half years I have been attending university. No summers off. I have studied, non-exclusively, Electrical Engineering. Transistor doping, power plants, and machine learning
                    are some of the course work required in the degree plan. I felt it was important to develop myself as a programmer and an engineer. As a result, I have several projects I have worked on to show that I am not just an Electrical Eningeer
                    but also a Computer Science student. I also plan to pursue a Masters Degree in Information Assurance and Cyber Security. My GPA is on a 4.0 scale and sat reguarly at strong
                    <strong>3.0/4.0</strong>. I reguarly recieved excellent marks for my progamming courses but no so much for non S.T.E.M courses.
                </p>
            </div>
            <div class="experience__jobs__job">
                <h2>2008 - 2016</h2>
                <h3>United States Marine Corps</h3>
                <h6> <i>Infantry Mchine Gunner</i></h6>
                <p>
                    I walked into the recruiters office the summer after high school. I arrived at bootcamp two weeks later. I trained as an Infantry Machine Gunner after bootcamp. Throughout my eight years in the United States Marine Corps I came to into several leadership
                    and instructor positions. A hard learned lesson; in order to be a good leader one has to be a good listener first. I left the Marine Corps after eight years to pursue a degree in S.T.E.M. It was not until a few years in that I discovered
                    the world of software and programming. My time in the Marine Corps has developed my team working and leadership skills exponentially. I accepted an
                    <strong>Honorable Discahrge</strong> as an <strong>E-5, Sergeant</strong>.
                </p>
            </div>
        </div>
    </section>
</section> {% endblock %}