{% extends "index.html" %} {% block content %}

<body class="projects">


    <h4>Projects<br>Please choose which project you would like to view.</h4>

    <div class="item-1">
        <a href=#>
            <img src="/static/img/python_img.png" width=200px alt="python_script1"></a>
    </div>
    <div class="item-2">
        <a href=#>
            <img src="/static/img/python_img.png" width=200px alt="python_script2"></a>
    </div>
    <div class="item-3">
        <a href=#>
            <img src="/static/img/java-logo-1.png" width=180px alt="python_script3"></a>
    </div>
    <div class="item-4">
        <a href=#>
            <img src="/static/img/java-logo-1.png" width=180px alt="python_script4"></a>
    </div>
    <div class="item-5">
        <a href=#>
            <img src="/static/img/python_img.png" width=200px alt="python_script5"></a>
    </div>
    <div class="item-6">
        <a href=#>
            <img src="/static/img/python_img.png" width=200px alt="python_script6"></a>
    </div>
    <div class="item-7">
        <a href=#>
            <img src="/static/img/java-logo-1.png" width=180px alt="python_script7"></a>
    </div>
    <div class="item-8">
        <a href=#>
            <img src="/static/img/java-logo-1.png" width=180px alt="python_script8"></a>
    </div>
    <div class="item-9">
        <a href=#>
            <img src="/static/img/python_img.png" width=200px alt="python_script9"></a>
    </div>
    <div class="item-10">
        <a href=#>
            <img src="/static/img/python_img.png" width=200px alt="python_script10"></a>
    </div>
    <div class="item-11">
        <a href=#>
            <img src="/static/img/java-logo-1.png" width=180px alt="python_script11"></a>
    </div>
    <div class="item-12">
        <a href=#>
            <img src="/static/img/java-logo-1.png" width=180px alt="python_script12"></a>
    </div>



</body>
{% endblock %}