.home {
    height: 100vh;
    background: $secondary-color;
    content: ' ';
    opacity: 0.75;
    background-image: $bck-img;
    background-size: cover;
    z-index: -1;
    &__head {
        color: white;
        z-index: 1;
        border: solid 1px black
    }
    &__art {
        justify-content: center;
        border: solid 1px black;
        border-radius: 5px;
        width: 20rem;
        background-color: grey;
        position: relative;
        margin: 12px;
        padding: 8px;
        left: 13px;
        top: -85px;
    }
}