.home {
    height: 100vh;
    background: $secondary-color;
    content: ' ';
    opacity: 0.75;
    background-image: $bck-img;
    background-size: cover;
    z-index: -1;
    &__head {
        color: white;
        z-index: 1;
        border: solid 1px black
    }
    &__icons {
        &__row {
            @include grid(2, 4%);
            &__col-sm {
                width: 100%;
            }
        }
    }
    &__art {
        justify-content: center;
    }
}