{% extends "home/index.html" %} {% block title%} Projects Page {% endblock %} {% block content %}
<div class="clr"></div>

<body class="projects">

    <h4>Projects<br>Please choose which project you would like to view.</h4>
    <ul class="prjects__grid__a">
        <!--<li>
                <img src="../static/img/python_img.png" width=150px alt=" python_script1 " /> </li>
            -->
        <li> <img src="http://placehold.it/150x150" alt="python_script1" /> </li>
        <li> <img src="http://placehold.it/150x150 " alt="python_script2 " /> </li>
        <li> <img src="http://placehold.it/150x150 " alt="python_script9 " /> </li>
    </ul>
    <ul class=projects__grid__b>
        <li> <img src="http://placehold.it/150x150 " alt="python_script1 " /> </li>
        <li> <img src="http://placehold.it/150x150 " alt="python_script5 " /> </li>
        <li> <img src="http://placehold.it/150x150 " alt="python_script6 " /> </li>
    </ul>
    <ul lclass="projects__grid__c">
        <li> <img src="http://placehold.it/150x150 " alt="java_script7 " /> </li>
        <li> <img src="http://placehold.it/150x150 " alt="java_script8 " /> </li>
        <li> <img src="http://placehold.it/150x150 " alt="java_script3 " /> </li>
    </ul>
    <ul class="projects__grid__d">
        <li> <img src="http://placehold.it/150x150 " alt="java_script4 " /> </li>
        <li> <img src="http://placehold.it/150x150 " alt="java_script11 " /> </li>
        <li> <img src="http://placehold.it/150x150 " alt="java_script12 " /> </li>
    </ul>


</body>
{% endblock %}