{% extends "home/index.html" %} {% block title%} Projects Page {% endblock %} {% block content %}
<div class="clr"></div>

<section class="projects">

    <section class="projects__texts">
        <h2>Projects</h2>

    </section>
    <ul class="prjects__grid__a">
        <a href="#">
            <li><img src="../static/img/python_img.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/python_img.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/java-logo-1.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/java-logo-1.png " width=200px alt=" python_script1 " /></li>
        </a>
    </ul>
    <ul class=projects__grid__b>
        <a href="# ">
            <li><img src="../static/img/python_img.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/python_img.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/java-logo-1.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/java-logo-1.png " width=200px alt=" python_script1 " /></li>
        </a>
    </ul>
    <ul lclass="projects__grid__c ">
        <a href="# ">
            <li><img src="../static/img/python_img.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/python_img.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/java-logo-1.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/java-logo-1.png " width=200px alt=" python_script1 " /></li>
        </a>
    </ul>
    <ul class="projects__grid__d ">
        <a href="# ">
            <li><img src="../static/img/python_img.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/python_img.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/java-logo-1.png " width=200px alt=" python_script1 " /></li>
        </a>
        <a href="# ">
            <li><img src="../static/img/java-logo-1.png " width=200px alt=" python_script1 " /></li>
        </a>
    </ul>


</section>
{% endblock %}