{% extends "home/index.html" %} {% block title%} Game Page {% endblock %} {% block content %}

<body class="game">

    <div class="game__place">
        <form action="/game" method="POST">
            <label for="integer" id="fib_num">Enter an integer: </label>
            <input type="text" , name="value">
            <input type="submit" , value="submit" />
            <br>
            <br> {% if not info %}
            <span id="null">{{ game_holder }}</span> {{ info }} {% else %} <span id="number">{{ game_holder }}</span> {{ info }}{% endif %}
        </form>
    </div>

</body>
{% endblock %}